<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>529651367662-kk5l7h8r015a1s8vctbbnmccdhoe7764.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529651367662-kk5l7h8r015a1s8vctbbnmccdhoe7764</string>
	<key>API_KEY</key>
	<string>AIzaSyCY-sCoHQTBYzVJ8SFgqaVd5h0T-54w-4E</string>
	<key>GCM_SENDER_ID</key>
	<string>529651367662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>metropolia.DiaTracker</string>
	<key>PROJECT_ID</key>
	<string>login-test-aa3df</string>
	<key>STORAGE_BUCKET</key>
	<string>login-test-aa3df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:529651367662:ios:cad9477e83460f81</string>
	<key>DATABASE_URL</key>
	<string>https://login-test-aa3df.firebaseio.com</string>
</dict>
</plist>